<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858379220756-g2dp7cr201fltuqk4e4bg3upaepsf4gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858379220756-g2dp7cr201fltuqk4e4bg3upaepsf4gv</string>
	<key>API_KEY</key>
	<string>AIzaSyC8qO9V3dKgPvSL_5tP8_TVilvr4bvf3rs</string>
	<key>GCM_SENDER_ID</key>
	<string>858379220756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.eatch.app</string>
	<key>PROJECT_ID</key>
	<string>subtle-bus-295120</string>
	<key>STORAGE_BUCKET</key>
	<string>subtle-bus-295120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858379220756:ios:1cef8200924f56c4fef401</string>
</dict>
</plist>